<a href="https://colab.research.google.com/github/Omotoso526/surajcodez/blob/main/list_slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#slicing lists and strings

my_list = [0,1,2,3,4,5,6,7,8,9]
my_list[0]

0

In [2]:
my_list[0:6]

[0, 1, 2, 3, 4, 5]

In [3]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
my_list[1:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
my_list[-1:2:-2]

[9, 7, 5, 3]

In [9]:
my_list[::2]

[0, 2, 4, 6, 8]

In [10]:
url = 'surajm.com'
url[::-1]

'moc.mjarus'

In [11]:
nums = [1,2,3,4,5,6,7,8.9]

my_list= []
for n in nums:
  my_list.append(n)
my_list

[1, 2, 3, 4, 5, 6, 7, 8.9]

In [12]:
my_guy = []
for n in nums:
  my_guy.append(n*n)
my_guy

[1, 4, 9, 16, 25, 36, 49, 79.21000000000001]

In [13]:
my_guy = [n*n for n in nums]
my_guy

[1, 4, 9, 16, 25, 36, 49, 79.21000000000001]

In [15]:
my_rt = map(lambda n: n*n, nums)
list(my_rt)

[1, 4, 9, 16, 25, 36, 49, 79.21000000000001]

In [16]:
my_t = []
for n in nums:
  if n % 2 == 0:
    my_t.append(n)
my_t

[2, 4, 6]

In [18]:
my_t = [n for n in nums if n%2 ==0]
my_t

[2, 4, 6]

In [20]:
y = filter(lambda n:n %2 == 0, nums)
list(y)

[2, 4, 6]

In [21]:
my_list = []
for letter in 'abcd':
  for num in range(4):
    my_list.append((letter,num))
my_list

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 0),
 ('c', 1),
 ('c', 2),
 ('c', 3),
 ('d', 0),
 ('d', 1),
 ('d', 2),
 ('d', 3)]

In [29]:
#dictionary comprehension
names = ['Bruce', 'clark', 'peter', 'james', 'ade']
heros = ['Awolowo', 'Akintola', 'Adekanye', 'Adeleke']
z = zip (names, heros)
list(z)

[('Bruce', 'Awolowo'),
 ('clark', 'Akintola'),
 ('peter', 'Adekanye'),
 ('james', 'Adeleke')]

In [31]:
my_dict = {}
for name, hero in zip (names, heros):
  my_dict[name] = hero
my_dict

{'Bruce': 'Awolowo',
 'clark': 'Akintola',
 'peter': 'Adekanye',
 'james': 'Adeleke'}

In [6]:
lis = [9,1,6,7,3,8,5,7]
sorted(lis)

[1, 3, 5, 6, 7, 7, 8, 9]

In [8]:
class Employee():
  def __init__(self, name, age, salary):
    self.name = name
    self.age = age
    self.salary = salary

  def __repr__(self):
    return '({},{},${})'.format(self.name, self.age, self.salary)

from operator import attrgetter

e1 = Employee('Carl', 37, 70000)
e2 = Employee('sarah', 28, 4499499)
e3 = Employee('disko', 45, 57559859)

employees = [e1,e2,e3]

def e_sort(emp):
  return emp.name

s_employees = sorted(employees, key=attrgetter('age'), reverse=True)
s_employees

[(disko,45,$57559859), (Carl,37,$70000), (sarah,28,$4499499)]