<a href="https://colab.research.google.com/github/Omotoso526/surajcodez/blob/main/Untitled50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = 1

while x < 10:
  if x == 5:
    break
  print(x)
  x+=1

1
2
3
4

In [6]:
#functions
def hello_func():
  print("hello world")

for _ in range(4): # Loop 4 times
  hello_func()     # Call the function in each iteration

hello world
hello world
hello world
hello world

In [9]:
def hello_func():
  return "Hello"

print(hello_func())

Hello

In [13]:
def hello_func(greeting, name = "iwo"):
  return f'{greeting} {name}'

print(hello_func("Hi"))

Hi iwo

In [14]:
def student_info(*args, **kwargs):
  print(args)
  print(kwargs)

courses = ['Math', 'Art']
info = {'name': 'mosun', 'age': 24}

student_info(*courses, **info)

('Math', 'Art')
{'name': 'mosun', 'age': 24}

In [15]:
month_day = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

def is_leap(year):

  return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

def days_in_month(year, month):
  if not 1 <= month <= 12:
    return 'Invalid Month'

  if month == 2 and is_leap(year):
    return 29

  return month_day[month]

In [17]:
print(days_in_month(2019, 4))

30